head {

}

body {
    background-color: lightsteelblue;
}

/* 헤더바 */

.header_bar {
    text-align: center;
    margin-top: 75px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    text-align: center;
    
}

/* 중앙 메인 컨텐츠 */

.container {
    margin-left: 300px;
    display: flex;
    align-items: center;
    gap: 250px;
}


.main {
    display: flex;
    align-items: center;
    height: 500px;
}

#profile {
    width: 350px;
    height: 350px;
    border-radius: 70%;
    align-items: center;
}

/* edu, exper, skills 내용 */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.first {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    width: 500px;
}

.second{
    font-family: 'Dancing Script', cursive;
    width: 500px;

}

.third{
    font-family: 'Dancing Script', cursive;
    font-size: large;
    width: 500px;
} 


/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
